@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


body{
    color: white;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}
#as{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 130px;
    flex-direction: column;
    
}
#oop{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 20px;
}

.dib{
    border: 1px solid white;
    height: 25px;
    width: 60px;
}

.ob{
    width: 120px;
    text-align: center;
}

.you{
    width: 250px;
    margin-left: -60px;
}

.blu{
    color: rgb(4, 171, 171);
}
.blu a{
    color: rgb(4, 171, 171);
}